<div class="fullwidth mapcu-Sec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<span class="mapcu-ifrm">{{ module.iframe }}</span>
	<div class="wrapper">
		<div class="fullwidth mapcu-Inner">
			<div class="mapcu-Inrgrp">
			<h3>
				{{ module.title }}
			</h3>
			<div class="fullwidth mapcu-Row">
				{% for item in module.column_group %}
				<div class="mapcu-cls mapcu-cls{{ loop.index }}">
					<h4>
						{{ item.title }}
					</h4>
					<div class="mapcu-cltxt">
						{{ item.text }}
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="mapcu-btn {{ module.button_options }}">
				{% set href = module.button_link.url.href %}
				{% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
				{% set href = "mailto:" + href %}
				{% endif %}
				<a href="{{ href }}"
					{% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
					{% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
					>
					{{ module.button_text }}
				</a>
			</div>
		 </div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	#hs_cos_wrapper_{{ name }} .mapcu-Inrgrp { background-color: rgba({{ module.background_color.color|convert_rgb }},{{ module.background_color.opacity / 100 }}); }
	{# #hs_cos_wrapper_{{ name }} .mapcu-Inrgrp h3 { color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	
	{% for item in module.column_group %}
	 #hs_cos_wrapper_{{ name }} .mapcu-cls{{ loop.index }} h4 { color: rgba({{ item.title_color.color|convert_rgb }},{{ item.title_color.opacity / 100 }}); }
	 #hs_cos_wrapper_{{ name }} .mapcu-cls{{ loop.index }} .mapcu-cltxt { color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	{% endfor %} #}
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>