<div class="mainFooter fullwidth">
  <div class="footerTop fullwidth">
		<div class="wrapper flex justStart ffRowwrap">
			<div class="ftSubscribe span6">
				{% if module.newsletter.title %}<h3>{{ module.newsletter.title }}</h3>{% endif %}
				<div class="ftsInner fullwidth">
					{% form
						form_to_use="{{ module.newsletter.select_a_form.form_id }}"
						response_response_type="{{ module.newsletter.select_a_form.response_type }}"
						response_message="{{ module.newsletter.select_a_form.message }}"
						response_redirect_id="{{ module.newsletter.select_a_form.redirect_id }}"
						response_redirect_url="{{module.newsletter.select_a_form.redirect_url}}"
						gotowebinar_webinar_key="{{ module.newsletter.select_a_form.gotowebinar_webinar_key }}"
					%}
				</div>
			</div>
			<div class="ftOff span6">
				{% if module.discount.text %}<h2>{{ module.discount.text }}</h2>{% endif %}
				<div class="ftoffText fullwidth">
					{% if module.discount.title %}<h3>{{ module.discount.title }}</h3>{% endif %}
				</div>
				{% if module.discount.button.text %}
					<div class="ftoffCTA"> 
						{% set href = module.discount.button.link.url.href %}
						{% if module.discount.button.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
						{% endif %}
						<a href="{{ href }}" {% if module.discount.button.link.open_in_new_tab %}target="_blank"{% endif %} {% if module.discount.button.link.rel %}rel="{{ module.discount.button.link.rel }}"{% endif %}>
							{{ module.discount.button.text }}
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="footerSection fullwidth">
		<div class="wrapper">
			<div class="fOuter fullwidth">
				<div class="fAbout span3">
					{% if module.about_us.title %}<h4>{{ module.about_us.title }}</h4>{% endif %}
					{% if module.about_us.text %}
						<div class="faText fullwidth">
							{{ module.about_us.text }}
						</div>
					{% endif %}
				</div>
				<div class="fLinks span3">
					{% if module.quick_links.title %}<h4>{{ module.quick_links.title }}</h4>{% endif %}
					<div class="faLinks fullwidth">
						{% simple_menu menu_tree="{{ module.quick_links.select_a_menu }}" %}
					</div>
				</div>
				<div class="fPosts span3">
					{% if module.recent_posts.title %}<h4>{{ module.recent_posts.title }}</h4>{% endif %}
					<div class="fpInner fullwidth">
						{% set rec_posts = blog_recent_posts(module.recent_posts.select_a_blog, 2) %}
						{% for rec_post in rec_posts %}
							<div class="fpPost fullwidth">
								<div class="fpImage">
									<a href="{{ rec_post.absolute_url }}"><img class="hide" src="{{ rec_post.featured_image }}" alt="{{ rec_post.name }}"></a>
								</div>
								<div class="fppInner">
									<a href="{{ rec_post.absolute_url }}">{{ rec_post.name }}</a>
									<div class="fppDate fullwidth">
										{{ rec_post.publish_date|datetimeformat("%B %e, %Y") }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="fTweets span3">
					<h4>{{ module.latest_tweets.title }}</h4>
					<div class="ftSlides fullwidth">
						{% for item in module.latest_tweets.add_tweet_slide %}

							<div class="ftSlide">
								{% if item.message %}
									<div class="ftsText fullwidth">
										{{ item.message }}
									</div>
								{% endif %}
								{% if item.select_date_and_time %}
									<div class="ftsDate fullwidh">
										{{ item.select_date_and_time }}
									</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footerBottom fullwidth">
		<div class="wrapper">
			<div class="fbInner fullwidth flex ffRowwrap justStart alignCenter">
				<div class="fbCopyright span4">
					{{ module.copyright_text }}
				</div>
				<div class="fbLogo span4 textCenter">
					{% set href = module.logo.link.url.href %}
					{% if module.logo.link.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}" {% if module.logo.link.open_in_new_tab %}target="_blank"{% endif %}{% if module.logo.link.rel %}rel="{{ module.logo.link.rel }}"{% endif %}>
						{% if module.logo.image.src %}
							{% set sizeAttrs = 'width="{{ module.logo.image.width }}" height="{{ module.logo.image.height }}"' %}
							{% if module.logo.image.size_type == 'auto' %}
								{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
							{% elif module.logo.image.size_type == 'auto_custom_max' %}
								{% set sizeAttrs = 'width="{{ module.logo.image.max_width }}" height="{{ module.logo.image.max_height }}" style="max-width: 100%; height: auto;"' %}
							{% endif %}
							 {% set loadingAttr = module.logo.image.loading != 'disabled' ? 'loading="{{ module.logo.image.loading }}"' : '' %}
							<img src="{{ module.logo.image.src }}" alt="{{ module.logo.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
						{% endif %}
					</a>
				</div>
				<div class="fbSocial span4 flex ffRowwrap justEnd alignCenter">
					<ul>
						{% for item in module.social_icon %}
							<li class="flex ffRowwrap justEnd alignCenter">
								{% set href = item.link.url.href %}
								{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
									{% set href = "mailto:" + href %}
								{% endif %}
								<a class="flex justCenter alignCenter" href="{{ href }}" {% if item.link.open_in_new_tab %}target="_blank"{% endif %}	{% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}>{% icon name="{{ item.icon.name }}" style="{{ item.icon.type }}" unicode="{{ item.icon.unicode }}" icon_set="{{ item.icon.icon_set }}" %}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>



{% require_css %} 
  <style>
		#hs_cos_wrapper_{{ name }} .mainFooter { {{ module.style.background_image.css }} }
		  #hs_cos_wrapper_{{ name }} .footerTop { {{ module.style.spacing.desktop_spacing.css }}; }   
		  {% for rec_post in rec_posts %}
		    #hs_cos_wrapper_{{ name }} .fpPost:nth-child({{ loop.index }}) .fpImage { background:url({{ rec_post.featured_image }}) no-repeat center top/cover; }  
		  {% endfor %}
	</style>
{% end_require_css %}



