<a id="totop" href="#top" style="display: inline;" class="top-visible"><i class="tm-axacus-icon-angle-up"></i></a>



{% require_css %}
<style>
#totop.top-visible {
    font-size: 23px;
    height: 43px;
    width: 43px;
}
#totop {
    font-weight: 900;
    color: #fff;
    position: fixed;
    display: none;
    right: 34px;
    bottom: 34px;
    z-index: 999;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 25px;
    text-align: center;
    padding-top: 8px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	background-color: {{ primary_color }};
}

.tm-axacus-icon-angle-up:before {
    content: '\f106';
      width: 15px;
    height: 15px;
    font-family: tm-axacus-icons;
  color:white;
}

[class^="tm-axacus-icon-"]:before {
    font-family: "tm-axacus-icons";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    /* font-size: 120%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgb(127 127 127 / 30%); */
}
</style>
{% end_require_css %}