<div class="fullwidth actaSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth actaInner">
			<div class="fullwidth actaCls">
			<div class="actaDots">
				{% set href = module.plus_sign_link.url.href %}
				{% if module.plus_sign_link.url.type is equalto "EMAIL_ADDRESS" %}
				{% set href = "mailto:" + href %}
				{% endif %}
				<a href="{{ href }}"
					{% if module.plus_sign_link.open_in_new_tab %}target="_blank"{% endif %}
					{% if module.plus_sign_link.rel %}rel="{{ module.plus_sign_link.rel }}"{% endif %}
					>
				
				</a>
			</div>
			<div class="actatxt">
				{% set href = module.button_link.url.href %}
				{% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
				{% set href = "mailto:" + href %}
				{% endif %}
				<a href="{{ href }}"
					{% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
					{% if module.button_link.rel %}rel="{{ module.button_link.rel }}"{% endif %}
					>
				{{ module.button_text }}
				</a>
			</div>
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	#hs_cos_wrapper_{{ name }} .actaDots a{ border-color: rgba({{ module.buttonn_color.color|convert_rgb }},{{ module.buttonn_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .actaDots a:after, #hs_cos_wrapper_{{ name }} .actaDots a:before { background-color: rgba({{ module.buttonn_color.color|convert_rgb }},{{ module.buttonn_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .actaDots a:hover:after, #hs_cos_wrapper_{{ name }} .actaDots a:hover:before { background-color: rgba({{ module.buttonn_hover_color.color|convert_rgb }},{{ module.buttonn_hover_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .actaDots a:hover { background-color: rgba({{ module.buttonn_color.color|convert_rgb }},{{ module.buttonn_color.opacity / 100 }}); }
	
	#hs_cos_wrapper_{{ name }} .actatxt a { color: rgba({{ module.button_text_color.color|convert_rgb }},{{ module.button_text_color.opacity / 100 }}); }
/* 	#hs_cos_wrapper_{{ name }} .actatxt a:hover { color: rgba({{ module.button_hover_text_color.color|convert_rgb }},{{ module.button_hover_text_color.opacity / 100 }}); } */
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>