

{# Blog author listing header #}

{% if blog_author %}
  <h2 class="blog-author-heading">{{ module.blog_author_listing.subheading }} {{ blog_author.display_name }}:</h2>
{% endif %}

{# Blog tag listing header #}

{% if tag %}
  <h2 class="blog-tag-heading">{{ module.blog_tag_listing.subheading }} {{ page_meta.html_title|split(" | ")|last }}:</h2>
{% endif %}

{# Blog listing #}

<section class="blog-index bizBlog-Sec">

  {% for content in contents %}

    {# Blog listing article #}

    <article class="bizBlog-cols blog-index__post" aria-label="Blog post summary: {{ content.name }}">

    {# Featured image #}
    <div class="bizBlog-cols-img">
			{% if content.featured_image and module.featured_image %}
        <a class="bizBlog-cols-ftrimg blog-index__post-image-wrapper" href="{{ content.absolute_url }}" aria-label="{% if content.featured_image_alt_text %}Featured image: {{ content.featured_image_alt_text }} - {% endif %}Read full post: {{ content.name }}" style="background-image: url({{ content.featured_image }});">
        {# Tags #}
        </a>
      {% endif %}
        {% if module.tags and content.tag_list %}
          <div class="bizBlog-cols-tags blog-index__post-tags">
            {% for tag in content.tag_list %}
              <a class="blog-index__post-tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>{% if !loop.last %}<span>, </span>{% endif %}
            {% endfor %}
          </div>
        {% endif %}
			</div>
			
    {# Article content #}
    <div class="bizBlog-cols-content blog-index__post-content">
       {# Title #}
        {% if module.title %}
          <h2 class="blog-index__post-title"><a class="blog-index__post-title-link" href="{{ content.absolute_url }}">{{ content.name }}</a></h2>
        {% endif %}
        <div class="bizBlog-cols-Top">
        {# Author #}

        {% if module.author and content.blog_author %}
          <div class="bizBlog-col-authr blog-index__post-author blg-topspn">
						<i class="fa fa-user"></i>
            <a class="blog-index__post-author-name" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_author.display_name }}</a>
          </div>
        {% endif %}
        <div class="bizBlog-col-commnt blg-topspn">
					<i class="tm-axacus-icon-comment-3"></i>
					</div>
					
        {# Publish date #}
        {% if module.publish_date %}
          <time class="bizBlog-coltm blg-topspn blog-index__post-timestamp" datetime="{{ content.publish_date }}">
						<i class="fa fa-calendar"></i>
            {{ content.publish_date|datetimeformat("%B %e, %Y") }}
          </time>
        {% endif %}
        </div>
			
        {# Summary #}
        {% if module.description %}
          <div class="bizBlog-clsmmry blog-index__post-summary">
            {{ content.post_list_content|truncatehtml(150) }}
          </div>
        {% endif %}

			<div class="bizBlog-cols-btmbtn">
				
        {# Read more button #}
        {% if module.button %}
          <div class="bizBlog-btn blog-index__post-button-wrapper">
            <a class="blog-index__post-button" href="{{ content.absolute_url }}">{{ module.button_text }}</a>
          </div>
        {% endif %}
				
				<div class="bizBlog-shrelst">
					<div class="bizBlog-sml">
						<ul class="bizblg-socialmda">
							<li><a href='http://www.facebook.com/sharer.php?u={{ content.absolute_url }}'><i class='tm-axacus-icon-facebook'></i> </a></li>
							<li><a href='http://twitter.com/share?text={{ content.name|striptags }}&url={{ content.absolute_url }}'><i class='tm-axacus-icon-twitter'></i></a></li>
							<li><a href='https://plus.google.com/share?url={{ content.absolute_url }}'><i class='tm-axacus-icon-gplus'></i></a></li>
							<li><a href='http://www.linkedin.com/shareArticle?mini=true&url={{ content.absolute_url }}'><i class='tm-axacus-icon-linkedin'></i></a></li>
						</ul>
					</div>
					<ul class="bizblg-share">
						<li><a href="#"></a></li>
					</ul>
				</div>
        </div>
      </div>
    </article>
  {% endfor %}
</section>
