<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog listing
  screenshotPath: ../images/template-previews/bloglisting-new.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}

  {% module "module_16551961948976" path='../modules/Hero Section About - Bizphile', label="Hero Section About - Bizphile" %}
  
  {# Blog listings and pagination #}

<div class="Blog-lstngbiz fullwidth">
	<div class="wrapper">
		<div class="BloglstbInnr fullwidth">
			<div class="Blog-lstngLeft">
				 {% dnd_area "dnd_area" label="Main section", class="body-container body-container--home" %}
          {% dnd_section full_width="TRUE" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
				    {% dnd_module "module_165632197378751" path='../modules/blog-listings -Bizphile', label="Blog listings" %}{% end_dnd_module %}
				  {% end_dnd_section %}

				  {% dnd_section full_width="TRUE" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
				    {% dnd_module "module_165632198488154" path='../modules/blog-pagination - Bizphile', label="Blog pagination" %}{% end_dnd_module %}
				  {% end_dnd_section %}
        {% end_dnd_area %}
			</div>
			<div class="Blog-lstngRight">
				{% dnd_area "dnd_area2" label="Bottom section", class="body-container body-container--home" %}
          {% dnd_section full_width="TRUE" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
				    {% dnd_module "module_1656330271189127" path="../modules/Search Input Section - Bizphile", label="Search Input Section - Bizphile" %}{% end_dnd_module %}
				  {% end_dnd_section %}
				
				  {% dnd_section full_width="TRUE" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
				    {% dnd_module "module_1656331579947152" path="../modules/Recent Post Section - Bizphile", label="Recent Post Section - Bizphile" %}{% end_dnd_module %}
				  {% end_dnd_section %}
				
				  {% dnd_section full_width="TRUE" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
				    {% dnd_module "module_165633730285670" path="../modules/Blog CTA Image Section - Bizphile", label="Blog CTA Image Section - Bizphile" %}{% end_dnd_module %}
				  {% end_dnd_section %}
				
				  {% dnd_section full_width="TRUE" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
				    {% dnd_module "module_165633309451627" path='../modules/Post Filter Section - Bizphile', label="Post Filter Section - Bizphile" %}{% end_dnd_module %}
				  {% end_dnd_section %}
				
				  {% dnd_section full_width="TRUE" padding={'top':'0','right':'0','bottom':'0','left':'0'} %}
				    {% dnd_module "module_165633444228353" path='../modules/Get In Touch Section - Bizphile', label="Get In Touch Section - Bizphile" %}{% end_dnd_module %}
				  {% end_dnd_section %}
				{% end_dnd_area %}
			</div>
		</div>
	</div>
</div>

{% dnd_area "dnd_area3" label="Additional section", class="body-container body-container--home" %}
{% end_dnd_area %}

{% endblock body %}
