<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog detail
  screenshotPath: ../images/template-previews/blogpost-new.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<div class="body-container body-container--blog-post">
{% module "module_16563936839154" path="../modules/Hero Section Blog - Bizphile", label="Hero Section Blog - Bizphile" %}
  {# Blog post #}
<div class="Bizph-blogpostSec fullwidth">
  <div class="wrapper">
		<div class="Bizph-blogpostInner fullwidth">
			<div class="Bizph-blogpostLft">
				<div class="Bizph-blgftrimg" style="background-image: url({{ content.featured_image }});">
					
				</div>
				<div class="Bizph-blgcontent">
				 <div class="Bizph-blgTopsc">
					<div class="Bizph-blgPauthr blg-pst-dtl">
						<i class="fa fa-user"></i>
						<a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}" rel="author">
              {{ content.blog_post_author.display_name }}
            </a>
					 </div>
					 <div class="Bizph-blgPcmmnt blg-pst-dtl">
						 <i class="tm-axacus-icon-comment-3"></i>
					 </div>
					 <div class="Bizph-blgPdate blg-pst-dtl">
						 <i class="fa fa-calendar"></i>
						 <time datetime="{{ content.publish_date }}">
                {{ content.publish_date|datetimeformat("%B %e, %Y") }}
             </time>
					 </div>
					</div>
					<div class="blog-post__body">
						{{ content.post_body }}
					</div>
					<div class="Bizph-blgpstgrp">
						{% module "module_165639538638913" path="../modules/Blog Post Section - Bizphile", label="Blog Post Section - Bizphile" %}
					</div>
					<div class="Bizph-blgBtmsc">
					<div class="Bizph-blgpstscmd">
						<h4> Share </h4>
						<ul class="bizblg-socialmda">
							<li><a href='http://www.facebook.com/sharer.php?u={{ content.absolute_url }}'><i class='tm-axacus-icon-facebook'></i> </a></li>
							<li><a href='http://twitter.com/share?text={{ content.name|striptags }}&url={{ content.absolute_url }}'><i class='tm-axacus-icon-twitter'></i></a></li>
							<li><a href='https://plus.google.com/share?url={{ content.absolute_url }}'><i class='tm-axacus-icon-gplus'></i></a></li>
							<li><a href='http://www.linkedin.com/shareArticle?mini=true&url={{ content.absolute_url }}'><i class='tm-axacus-icon-linkedin'></i></a></li>
						</ul>
					</div>
					<div class="Bizph-blgTags">
						{% if content.tag_list %}
						 <div class="blog-post__tags primartbtn">
							{% for tag in content.tag_list %}
							 <a class="blog-post__tag-link " href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
						  {% endfor %}
					   </div>
				  {% endif %}
					</div>
				 </div>
					<div class="Bizph-blgForm">
						<h3> Leave a Reply </h3>
						<p> Your email address will not be published. </p>
						{% if group.allow_comments %}
						<div class="blog-comments">
							{% module "blog_comments"
								path="@hubspot/blog_comments",
								label="Blog comments"
							%}
						</div>
					{% endif %}
				</div>
       </div>			
      </div>
	    <div class="Blog-lstngRight">
				{% module "module_1656330271189127" path="../modules/Search Input Section - Bizphile", label="Search Input Section - Bizphile" %}
				
				{% module "module_1656331579947152" path="../modules/Recent Post Section - Bizphile", label="Recent Post Section - Bizphile" %}
				
				{% module "module_165633730285670" path="../modules/Blog CTA Image Section - Bizphile", label="Blog CTA Image Section - Bizphile" %}
				
				{% module "module_165633309451627" path="../modules/Post Filter Section - Bizphile", label="Post Filter Section - Bizphile" %}
				
				{% module "module_165633444228353" path="../modules/Get In Touch Section - Bizphile", label="Get In Touch Section - Bizphile" %}
				
			</div>
	</div>
 </div>
</div>
  {# Recent posts listing #}

  {# This macro is used to format each recent post card and gets passed to the related_blog_posts HubL tag below #}
{#
  {% macro related_posts(post, count, total) %}
    {% if count == 1 %}
      <section class="blog-related-posts">
        <div class="content-wrapper">
          <h2>Read On</h2>
          <div class="blog-related-posts__list">
    {% endif %}
            <article class="blog-related-posts__post" aria-label="Blog post summary: {{ post.name }}">
              {% if post.featured_image %}
                <a class="blog-related-posts__post-image-wrapper" href="{{ post.absolute_url }}" aria-label="{% if post.featured_image_alt_text %} Featured image: {{ post.featured_image_alt_text }} - {% endif %}Read full post: {{ post.name }}">
                  <img class="blog-related-posts__image" src="{{ post.featured_image }}" loading="lazy" width="352" alt="{{ post.featured_image_alt_text }}">
                </a>
              {% endif %}
              <div class="blog-related-posts__content">
                <h3 class="blog-related-posts__title">
                  <a class="blog-related-posts__title-link" href="{{ post.absolute_url }}">{{ post.name }}</a></h3>
                {{ post.post_summary|truncatehtml(100) }}
              </div>
            </article>
      {% if count == total %}
          </div>
        </div>
      </section>
    {% endif %}
  {% endmacro %}

  {% related_blog_posts
    limit=3,
    no_wrapper=True,
    post_formatter="related_posts"
  %}
#}
</div>
{% endblock body %}
