<div class="fullwidth countr-Sec animSec">
	<div class="fullwidth countr-Outer sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth countr-Inner">
			<div class="fullwidth countr-Rw">
				{% for item in module.counter_group %}
				<div class="countr-Cls countr-Cls{{ loop.index }}">
					<div class="countr-Clslft">
						{% if item.image_or_icon_code == 'image' %}
						{% if item.logo.src %}
						{% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
						{% if item.logo.size_type == 'auto' %}
						{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
						{% elif item.logo.size_type == 'auto_custom_max' %}
						{% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
						{% endif %}
						{% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}
						<img src="{{ item.logo.src }}" alt="{{ item.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
					  {% endif %}
						{% elif item.image_or_icon_code == 'icon' %}
						{{ item.icon_code }}
						{% endif %}
					</div>
					<div class="countr-Clsrght">
						<h2>
						<span class="count-number timer" data-to="{{ item.counter }}" data-speed="2500"></span><span>{{ item.counter_text }}</span>
						</h2>
						<div class="countr-Clsrtxt">
							{{ item.text }}
						</div>
					</div>
				</div>
				
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% require_css %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
  {% for item in module.counter_group %}
	  {# #hs_cos_wrapper_{{ name }} .countr-Cls:nth-child({{ loop.index }}) .countr-Clslft i { color: rgba({{ item.icon_color.color|convert_rgb }}, {{ item.icon_color.opacity / 100 }}); } #}
	  #hs_cos_wrapper_{{ name }} .countr-Cls{{ loop.index }} .countr-Clsrght h2 { color: rgba({{ item.number_color.color|convert_rgb }},{{ item.number_color.opacity / 100 }}); }
	  #hs_cos_wrapper_{{ name }} .countr-Cls{{ loop.index }} .countr-Clsrtxt { color: rgba({{ item.text_color.color|convert_rgb }},{{ item.text_color.opacity / 100 }}); }
	
	{% endfor %}
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>
{% end_require_css %}