<div class="heroSec fullwidth sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	{% for item in module.slide_group %}
	<div class="heroSlider heroSlider{{ loop.index }} fullwidth {% if item.add_overlay_ %} heroSlideroverlay {% endif %}" style="background-image: url({{ item.background_image.src }});">
	<div class="wrapper">
		<div class="fullwidth heroInner">
			{% if item.column_options == 'fullwidth' %}
			<div class="heroCls fullwidth">
        <div class="heroLeft">
					{% if loop.index == '1' %}
			    <h1> {{ item.title }} </h1>
					{% else %}
					<h2> {{ item.title }} </h2>
					{% endif %}
					<div class="heroLeftxt">
						{{ item.text }}
					</div>
					
		    </div>  			
				<div class="heroRight">
					<div class="heroBtn {{ item.button_options }}">
			  	{% set href = item.button_link.url.href %}
					{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}"
						{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
						{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
						>
						{{ item.button_text }}
					</a>
					</div>
		    </div>
		  </div>
			{% elif item.column_options == 'two-column' %}
			<div class="heroCls fullwidth">
        <div class="heroTwoLeft" style="border-color: rgba({{ item.line_color.color|convert_rgb }}, {{ item.line_color.opacity / 100 }});">
					{% if loop.index == '1' %}
			    <h1> {{ item.title }} </h1>
					{% else %}
					<h2> {{ item.title }} </h2>
					{% endif %}
			   
		    </div>  			
				<div class="heroTwoRight">
					<div class="heroTwoLeftxt heroLeftxt">
						{{ item.text }}
					</div>
					<div class="heroBtn {{ item.button_options }}">
			    {% set href = item.button_link.url.href %}
					{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a href="{{ href }}"
						{% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
						{% if item.button_link.rel %}rel="{{ item.button_link.rel }}"{% endif %}
						>
						{{ item.button_text }}
					</a>
				 </div>
		    </div>
		  </div>
			
			{% endif %}
		</div>
	</div>
</div>
	{% endfor %}
</div>

{% require_css %}
<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	{% for item in module.slide_group %}
	
	{% if item.add_overlay_ %}
	  #hs_cos_wrapper_{{ name }} .heroSlider{{ loop.index }}:before { background: linear-gradient(to bottom,rgba(255,255,255,0) 40%,rgba(0 ,0 , 0, 0.7)); } 
	
	{% endif %}
	
	#hs_cos_wrapper_{{ name }} .heroSlider{{ loop.index }} .heroLeftxt { color: {{ item.text_color.color }}; }
	#hs_cos_wrapper_{{ name }} .heroSlider{{ loop.index }} .heroLeft h2 , #hs_cos_wrapper_{{ name }} .heroSlider{{ loop.index }} .heroLeft h1 { color: {{ item.title_color.color }}; }
	#hs_cos_wrapper_{{ name }} .heroSlider{{ loop.index }} .heroTwoLeft h2 , #hs_cos_wrapper_{{ name }} .heroSlider{{ loop.index }} .heroTwoLeft h1 { color: {{ item.title_color.color }}; } 
	
	{% endfor %}
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>
{% end_require_css %}