<div class="fullwidth sec-padding testimonialSec sec-backgrnd sec-spcng {% if module.style.add_overlay_ %} add-ovrly {% endif %}">
	<div class="wrapper">
		<div class="fullwidth testimonialInner">
			<div class="fullwidth testimonialHeader">
				<div class="testimonialHdrlft">
				<h6> {{ module.sub_title }} </h6>
				<h2> {{ module.title }} </h2>
				</div>
				<div class="testimonialHdrrght">
					{{ module.text }}
				</div>
			</div>
			<div class="fullwidth testimonialRow">
				{% for item in module.testimonial_group %}
				<div class="testimonialcls testimonialcls{{ loop.index }}">
					<div class="tstmnclsTop">
						<div class="tstmnclsImg"></div>
						<div class="tclsprsnm">
						<div class="tclstar">
							{% for item2 in item.star_icon_group %}
								{% inline_text field="star_icon_code" value="{{ item2.star_icon_code }}" %}
							{% endfor %}
						</div>
							<div class="tclprsname">
								<h5>
									{{ item.person_name }}
								</h5>
								<span>{{ item.designation }}</span>
							</div>
						</div>
					</div>
					<div class="tstmnclsTxt">{{ item.text }}</div>
					<span class="testarrow"></span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<style>
	#hs_cos_wrapper_{{ name }} .sec-backgrnd { 
	{% if module.style.background_options == 'background_color' %}
		background-color: rgba({{ module.style.background_color.color|convert_rgb }},{{ module.style.background_color.opacity / 100 }});
		
	{% elif module.style.background_options == 'background_image' %}
		{{ module.style.background_image.css }}; background-repeat:  no-repeat;
		
	{% elif module.style.background_options == 'background_gradient' %}
		background: {{ module.style.background_gradient.css }};
		
  {% endif %}
	}
	#hs_cos_wrapper_{{ name }} .add-ovrly { position: relative; z-index: 1; }
	#hs_cos_wrapper_{{ name }} .add-ovrly:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: '';  z-index: -1; background-color: rgba({{ module.style.overlay_color.color|convert_rgb }},{{ module.style.overlay_color.opacity / 100 }}); }
	 
	#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	  {{ module.style.spacing_desktop_.css }}
	}
	
	{# #hs_cos_wrapper_{{ name }} .testimonialHdrlft h6{ color: rgba({{ module.sub_title_color.color|convert_rgb }},{{ module.sub_title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .testimonialHdrlft h2{ color: rgba({{ module.title_color.color|convert_rgb }},{{ module.title_color.opacity / 100 }}); }
	#hs_cos_wrapper_{{ name }} .testimonialHdrrght { color: rgba({{ module.text_color.color|convert_rgb }},{{ module.text_color.opacity / 100 }}); } #}
	
	{% for item in module.testimonial_group %}
	   #hs_cos_wrapper_{{ name }} .testimonialcls{{ loop.index }} .tstmnclsImg{ background-image: url({{ item.image.src }}); }
	
	
	
	
	
	{% endfor %}
	
	
	
	@media(max-width: 991px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_tablet_.css }}
	  }
		
	}
	
	@media(max-width: 767px){
		#hs_cos_wrapper_{{ name }} .sec-spcng{ 
	    {{ module.style.spacing_mobile_.css }}
	  }
		
	}
	
</style>